<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>id</td>
        <td>firstname</td>
        <td>lastname</td>
    </tr>
    <tr th:each="customer: ${listCustomer}">
        <td th:text="${customer.id}"></td>
        <!--<td th:text="${customer.firstname}"></td>-->
        <!--<td th:text="${customer.lastname}"></td>-->
    </tr>
</table>
<form action="#" th:action="@{/saveCustomer}" th:object="${customer}" method="post">
    <input type="text" th:field="*{id}" />
    <input type="text" th:field="*{firstname}" />
    <input type="text" th:field="*{lastname}" />
    <input type="submit" value="ok" />
</form>
</body>
</html>
